<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1>Angular App</h1>
      <hr />
      <app-create-person
        (padded)="addedPerson($event)"
        (premoved)="removedPerson()"
      ></app-create-person>
      <hr />
      <h4>Lista de oameni</h4>
      <app-child-c *ngFor="let personData of personsData"
        ><div appHighlightPerson class="panel-body">
          {{ personData.name }}
          {{ personData.age }}
        </div></app-child-c
      >
      <br />
      <hr />
      <p>&copy; {{ nume }}</p>
    </div>
  </div>
</div>
